{{#extend "layout"}}
  {{#replace "bodyId"}}landing-page{{/replace}}
  {{#replace "main"}}

    <section>
      <div>
        <h1>JavaScript</h1>
      </div>
    </section>

  {{/replace}}
{{/extend}}
